<div class="col-md-12">

  <%= form_for @book_review, html: { multipart: true }, class: "form-control" do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control"  %><br>

    <%= f.label :subtitle %><br>
    <%= f.text_field :subtitle, class: "form-control" %>
    <br><br>

    <%= f.label :review_text %><br>
    <%= f.text_area :review_text, row: "12", class: "form-control"  %>
    <br><br>

    <%= f.label :image %><br>
    <%= f.file_field :image %><br>

    <% if @book_review.image %>
      <div id="book-image">
        <%= image_tag @book_review.image %>
      </div>
    <% end %>

    <br><br>
    
    <%= f.submit "Create Book Review", class:"btn btn-lg" %>

  <% end %>

</div>