<div class="row">
  <div class="col-md-12">

    <%= form_for @book_review, html: { multipart: true } do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name, size:"59" %><br>

      <%= f.label :subtitle %><br>
      <%= f.text_field :subtitle, :cols => "141", :rows => "20" %>
      <br><br>

      <%= f.label :review_text %><br>
      <%= f.text_area :review_text, :cols => "141", :rows => "20" %>
      <br><br>

      <%= f.label :image %><br>
      <%= f.file_field :image %><br>
      
      <%= f.submit "Create Book Review", class:"btn btn-lg" %>
    <% end %>

  </div>
</div>