<div class="row">
  <div class="col-md-12">

    <%= form_for @post do |f| %>
      <%= f.label :title %><br>
      <%= f.text_field :title, size:"59", style:"padding:10px; font-size:30px; text-align: center;" %><br>

      <%= f.label :content %><br>
      <%= f.text_area :content, :cols => "141", :rows => "20" %>
      <br><br>
      <%= f.submit "Post!", class:"btn btn-lg" %>
    <% end %>

  </div>
</div>