#single
  .container
    .post.single-post
      .caption
        .header
          %span.post-tag
            - @post.tag_list.each do |tag|
              = link_to "#" + tag, tag_path(tag)
          %h1#single-post-title= @post.title
          %i{ style: "font-size: 1em;" }
            Written by Sunwoo Yang on
          %b
          %i{ style: "font-size: .7em;" }
            = @post.created_at.strftime("%A, %b %d")
        %p= raw @post.body_html

        #related-posts
        
        - if @post.tag_list.include?('coming-soon')

          #subscribe
            .form-inline
              %div
                %p Get notified when this post is ready!
              .form-group
                = form_for Subscriber.new, remote: true do |f|
                  .input-group
                    = f.hidden_field :source, value: @post.title
                    = f.text_field :email, class: 'form-control'
                    %span.input-group-btn
                      = f.submit "Subscribe", class: 'btn', onclick: "ga('send', 'event', 'Subscribe', 'Click', 'Subscribe');"
      
    .comments
      / START DISQUS
      #disqus_thread
      :javascript
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'sunwooblog';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      %noscript
        Please enable JavaScript to view the
        %a{:href => "https://disqus.com/?ref_noscript", :rel => "nofollow"} comments powered by Disqus.
      / END DISQUS

