
<span class="menu-trigger writer-icon animated fadeInDown">
	<span class="bar"></span>
	<span class="bar"></span>
	<span class="bar"></span>
</span>

<% if @post.image.url != "/images/original/missing.png" %>
  <div class="hero-image img-responsive" style="background: url(<%= @post.image.url(:large) %>); background-position: center;">
  	<h1 id="post-title"><%= @post.title %></h1>

	<!-- if the user has javascript disabled they can still use the menu -->
	<noscript>
	  <div class="no-js-menu">
			<ul>
			  <li><i class="entypo-home"></i><a href="/">Home</a></li>
			  <li><i class="entypo-chart-area"></i><a href="dashboard.html">Stats</a></li>
			</ul>
	  </div>
	</noscript>
	<!-- end no script -->

  </div>
<% end %>

<div class="container">
	<div class="row">

	<div id="menu">
		<ul>
			<li><i class="entypo-home"></i><a href="/">Home</a></li>
		</ul>
	</div>

	<div class="col-xs-12 main-content single-content">
		<p class="meta">
			<% if @post.image.url == '/images/original/missing.png' %>
				<h1><%= @post.title %></h1>
			<% end %>
			<a class="" href="category.html">Sunwoo Yang</a><a class="" href="category.html"></a> <i class="link-spacer"></i> <i class="entypo-bookmark"></i> <%= (@post.content.split.size / 200.0).ceil %> minutes to read
			<p class="meta">Written <%= @post.created_at.strftime("%A, %d %b %Y") %></p>

			<!-- DateTime.new(@post.created_at).strftime("%A, %d %b %Y") -->
		</p>

		<p class="subtitle"><%=raw @post.body_html %></p>

		<h1>Subscribe to follow me on my Haphazard Journey</h1>
		<br>
		<br>

		<%= form_for(Subscriber.new, class: 'email-form') do |f| %>
			<div class="form-group" id="email_text_field">
				<%= f.label :email %><br>
				<%= f.text_field :email, style: 'line-height: 10px; padding: 10px; border-radius: 5px; color: black;' %>
			</div>

			<%= f.submit "Receive Updates When I Post Something New!", class: 'btn btn-success' %>
		<% end %>

	</div><!-- main-content/col -->


	</div> <!--/row -->


